<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MobileLand.sdk</string>
    <key>CFBundlePackageType</key>
    <string>SDK</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>DTPlatformName</key>
    <string>MobileLand</string>
    <key>DTSDKName</key>
    <string>MobileLand.sdk</string>
    <key>DTXcode</key>
    <string>1200</string>
    <key>MinimumSDKVersion</key>
    <string>13.6.1</string>
    <key>DefaultProperties</key>
    <dict>
        <key>MACOSX_DEPLOYMENT_TARGET</key>
        <string>13.6.1</string>
    </dict>
    <key>MinimumDeploymentTarget</key>
    <dict>
        <key>MobileLand</key>
        <string>13.6.1</string>
    </dict>
    <key>SupportedArchitectures</key>
    <array>
        <string>armv7</string>
        <string>arm64</string>
    </array>
    <key>Architectures</key>
    <array>
        <string>armv7</string>
        <string>arm64</string>
    </array>
</dict>
</plist>
